<nav class="nav has-shadow">
  <div class="container">
    <div class="nav-left">
      <%= link_to root_path, :class => "nav-item" do %>
          <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/122811-200.png" alt="Bulma logo">
      <% end %>

      <%=link_to 'Posts', posts_path, :class => "nav-item is-tab is-hidden-mobile"%>
      <%=link_to 'New Posts', new_post_path, :class => "nav-item is-tab is-hidden-mobile"%>
      <%=link_to 'Contact', contact_path, :class => "nav-item is-tab is-hidden-mobile"%>
    </div>
    <span class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>
    <div class="nav-right nav-menu">

      <% if user_signed_in? %>
      <%= link_to "Sign out", destroy_user_session_path, :method => :delete, :class => "nav-item is-tab" %>
      <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>   
      <% else %>
      <%= link_to 'Sign In', new_user_session_path, :class => "nav-item is-tab"%>
      <%= link_to 'Register', new_user_registration_path, :class => "nav-item is-tab" %>
      <% end %>
    </div>
  </div>
</nav>
